<h1>{{name}}</h1>
<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
  <li>{{address.street}} {{address.city}}, {{address.state}}</li>
</ul>

<button (click)="onClick()">Click me!</button>
<!-- events are done in parenthesis with the type of event inside set to a function -->
<!-- function is written in component -->

<h1>Edit User</h1>
<form>
  <div>
    <label for="name">Name: </label><br>
    <input type="text" [(ngModel)]="name" name="name">
    <!-- [()] indicates 2 way data binding-->
    <!-- [(ngModel)] is bound to our name property-->
    <!-- need to have a name attritube, in this case = to name-->
  </div>
  <div>
    <label for="age">Age: </label><br>
    <input type="number" [(ngModel)]="age" name="age">
  </div>
  <div>
    <label for="email">Email: </label><br>
    <input type="text" [(ngModel)]="email" name="email">
  </div>
  <div>
    <label for="street">Street: </label><br>
    <input type="text" [(ngModel)]="address.street" name="street">
    <!-- this is the address object so need address.property, name attribute is just property -->
  </div>
  <div>
    <label for="city">City: </label><br>
    <input type="text" [(ngModel)]="address.city" name="city">
  </div>
  <div>
    <label for="state">State: </label><br>
    <input type="text" [(ngModel)]="address.state" name="state">
  </div>
</form>

<h1>Hobbies</h1>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
  <!-- event () is a submit event set to function addHobby() -->
  <!--  to take value from input, need to give id #hobby -->
  <!--  addHobby(hobby.value) hobby.value coming from input -->

<ul>
  <li *ngFor="let hobby of hobbies; let i = index">{{i + 1}}: {{hobby}}
  <!-- hobbies refers to hobbies property in component file -->
  <!-- set each item in hobbies as hobby -->
  <!-- call out individual item as hobby -->
  <!-- pass in index with let i = index -->
  <!-- call out each with i, can do arithmetic in there i + 1 -->
  
  <button (click)="deleteHobby(hobby)">Delete</button>
  <!-- event () is a click event set to function deleteHobby() -->
  <!-- pass in hobby which is whatever iteration the loop is on -->
  
  </li>
</ul>

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>

